body {
  background-color: #00bfc6;
  color: #555;
}

.navbar-static-top {
  background-color: white;
  padding-bottom: 1%;
}

.panel {
  border: solid 1px #555;
}

.panel h2 {
  color: #999;
}

.panel > .panel-heading {
  background-color: #555;
}

#description {
  line-height: 2em;
}
