<p> "MAKE A GROUP" </p>

<ul>
  <% @group.users.each do |user| %>
    <li>
      <a href= "/groups/new<%=user.id%>"><%=
      user.first_name %></a>
    </li>
  <% end %>
</ul>

  <input type='submit' value='Edit Group' />
</form>
