<h2>Create Group</h2>

<form action='/users/<%=params[:id]%>/groups/new' method='post'>

  <input type='text' placeholder='Group Name' name='name' />


  <ol>
  <% @list.each do |user| %>
   <input type= 'checkbox' name = '<%= user.id %>' > <%= user.first_name%>
  <%end%>
  </ol>
  <button class="label label-danger" type="submit">Submit</button>

</form>


