<h2 class="col-sm-offset-1"><i class="glyphicon glyphicon-user"></i> Create Group</h2>
<hr>

  <ol>
  <% @list.each do |user| %>
   <input type= 'checkbox' name = '<%= user.id %>' > <%= user.first_name%>
  <%end%>
  </ol>
  <button class="label label-danger" type="submit">Submit</button>

</form>


