<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

  <div id="login_input">
      <form action= '/users/login' method='post'>
        <input type='text' placeholder='Email Address' name='email_address' /> <br>
        <input type='password' placeholder='Password' name='password' /> <br> <br>
        <input type='submit' value="Log Me In!" />
      </form>
    </div>
</body>
</html>
