<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

<h2><%= @current_user.first_name %> <%= @current_user.last_name %> </h2>
</body>

</html>

<!--Issue: Cannot figure out how to get the groups that the user is a part of. Calling .groups on a user object is returning an empty array. There may be something wrong with the associations  -->
