<!-- <form action='/rooms/<%=cur_flipper.id%>' method='post'>
  <input type='hidden' name='_method' value='put' />

  <input type='text' placeholder='name' name='name'value="<%= cur_flipper.name %>" />
  <input type='text' placeholder='age'  name='age' value="<%= cur_flipper.age %>" />
  <input type='text' placeholder='quirk'name='quirk' value="<%= cur_flipper.quirk %>" />

  <input type='submit' value='Update' />
</form> -->