<!-- <form action= '/flippers' method='post'>
  <input type='text' placeholder='name' name='name' />
  <input type='text' placeholder='age'  name='age' />
  <input type='text' placeholder='quirk'name='quirk' />

  <input type='submit' value='Add' />
</form> -->