<div class="col-sm-6">
  <h2><i class="glyphicon glyphicon-calendar"></i> Schedule</h2>
  <%= erb :"rooms/_index", :layout => false %>
</div>

<div class="col-md-5 col-md-offset-1">
  <h2>Welcome to DBC Room Service</h2>
  <h3 id="description"><i class="glyphicon glyphicon-ok"></i> Checkout upcoming appointments. <br><i class="glyphicon glyphicon-ok"></i> Reserve a room for your group.<br> <small>Login using your email address and password.</small></h3>
  <form action="/users/login" method="get">
    <button class="btn btn-default" type="submit">Login</button>
  </form>
</div>


