<!DOCTYPE html>
<html>
  <head>
    <title>DBC Room Service</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="/css/application.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,700' rel='stylesheet' type='text/css'>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar navbar-brand" href="/">
            <span>
            </span>
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/users/new">Sign Up</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

