<!DOCTYPE html>
<html>
  <head>
    <title>DBC Room Service</title>
  </head>
  <body>
    <header>
      <img src="#" alt="DBC footprint">
      <h3><a href="/users/new">Sign Up</a></h3>
    </header>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
