<!DOCTYPE html>
<html>
  <head>
    <title>DBC Room Service</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="/css/normalize.css"> -->
     <link rel="stylesheet" type="text/css" href="/css/application.css">
   <!--   <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'> -->
   <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,700' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <header>
      <div class="page-header">
        <a href="/"><img src="http://devbootcamp.com/assets/images/dbc-logo.png" alt="DBC footprint"></a>
        <h1>DevBootCamp's Room Service </h1>
        <h4><a href="/users/new">Sign Up</a></h4>
      </div>
    </header>
    <div>
      <%= yield %>
    </div>
  </body>
</html>

